/*CSS variables*/
:root {
	--gold-1: #cc9c50;
	--gold-2: #d99e30;
	--gold-3: #f2d194;
	--gold-4: #462523;
	--gold-5: #d9ad2b;
}

/* .description,
.fa-edit,
.home {
	display: none;
} */

body {
	background-color: #ece9e9fd;
}

header {
	width: 80%;
	height: 20vh;
	margin: 0.1rem auto 3rem;
	border-radius: 1rem;
	box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.5);
	background: linear-gradient(
		to right bottom,
		#0d0b0c,
		#262526,
		#59514f,
		#262526,
		#0d0b0c
	);
}

header h1 {
	color: #f2e3b6;
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
}

.create-h1 {
	padding: 2.5rem 0;
}

.sub-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-new {
	font-size: 1.3rem;
	padding: 0.5rem 2rem 0.5rem 3rem;
	border: 0;
	cursor: pointer;
	outline: none;
	clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0 0);
	background: linear-gradient(
		to right bottom,
		var(--gold-4),
		var(--gold-1),
		var(--gold-2),
		var(--gold-3),
		var(--gold-2),
		var(--gold-1),
		var(--gold-4)
	);
}

#filter {
	font-size: 1.3rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: 0;
	outline: none;
	cursor: pointer;
	background: linear-gradient(
		to right bottom,
		var(--gold-4),
		var(--gold-1),
		var(--gold-2),
		var(--gold-3),
		var(--gold-2),
		var(--gold-1),
		var(--gold-4)
	);
	clip-path: polygon(100% 0%, 100% 100%, 0 100%, 10% 50%, 0 0);
}

#filter option {
	background-color: #59514f;
	color: #f2e3b6;
}

/* ****************************
				    Error
********************************/
.error-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.error-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 10rem auto 0;
	width: 50vw;
	height: 40vh;
	background-color: red;
	color: #fff;
}

.error-content button {
	padding: 0.5rem 2rem;
	font-size: 1.2rem;
	cursor: pointer;
}
.error-content p {
	justify-self: center;
	align-self: center;
	font-size: 1.7rem;
	line-height: 2rem;
	color: #fff;
	margin: auto;
}

/* ***************************
      Main Content
*******************************/

main {
	display: none;
	width: 80%;
	height: 65vh;
	margin: 0 auto;
	border: 3px solid #59514f;
	border-radius: 1rem;
	overflow-y: scroll;
}

.show-main {
	display: block;
}

/* ***************************
      Home Section
*******************************/
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	font-size: 1.3rem;
}

.heading a {
	width: 60%;
}
.edit-trash-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 40%;
}

.fa-edit,
.fa-trash-alt {
	cursor: pointer;
}
.fa-edit {
	margin-right: 1rem;
}

.heading a:hover {
	background-color: rgba(163, 161, 161, 0.644);
}

a {
	font-weight: 700;
	text-decoration: none;
	color: #000;
	padding: 0 4rem 0 0.5rem;
}

.stars {
	color: rgb(187, 183, 183);
	padding: 0 0 1rem 1rem;
	border-bottom: 1px solid rgb(49, 48, 48);
}

.gold {
	color: var(--gold-1);
}

/* ********************************
          Description
************************************/
.show {
	display: block;
	padding: 0 1rem 1rem 0.5rem;
	border-bottom: 1px solid rgb(49, 48, 48);
}

.des-heading {
	text-align: center;
}

.url {
	font-size: 1.2rem;
	border-radius: 1rem;
	display: inline-block;
	margin: 0.5rem auto;
	padding: 0.5rem 1rem;
	color: #f2e3b6;
	background: linear-gradient(
		to right bottom,
		#0d0b0c,
		#262526,
		#59514f,
		#262526,
		#0d0b0c
	);
}

.des-p {
	font-size: 1.1rem;
	line-height: 1.8rem;
}

/* ********************************
        Create and Edit Form
************************************/
#input-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 1.8rem;
}

#input-form input {
	width: 70%;
	line-height: 2rem;
	font-size: 1.1rem;
	margin: 0 0 1rem 1rem;
	padding-left: 1rem;
	border: 0;
	border-radius: 2rem;
	outline: none;
	color: #f2e3b6;
	background: linear-gradient(
		to right bottom,
		#0d0b0c,
		#262526,
		#59514f,
		#262526,
		#0d0b0c
	);
}

#input-form ::placeholder {
	color: rgba(252, 247, 247, 0.507);
}

#rank {
	width: 40%;
	font-size: 1.3rem;
	padding: 0.2rem 2rem 0.2rem 3rem;
	margin: 0 0 1rem 1rem;
	border: 0;
	cursor: pointer;
	outline: none;
	clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0 0);
	background: linear-gradient(
		to right bottom,
		var(--gold-4),
		var(--gold-1),
		var(--gold-2),
		var(--gold-3),
		var(--gold-2),
		var(--gold-1),
		var(--gold-4)
	);
}

#rank option {
	background-color: #59514f;
	color: #f2e3b6;
}

#web-des {
	width: 90%;
	height: 30vh;
	font-size: 1.5rem;
	line-height: 1.8rem;
	text-align: left;
	padding: 0.5rem 0 0.5rem 1rem;
	margin: 0 0 1rem 1rem;
	outline: none;
	border: 0;
	border-radius: 1rem;
	color: #f2e3b6;
	background: linear-gradient(
		to right bottom,
		#0d0b0c,
		#262526,
		#59514f,
		#262526,
		#0d0b0c
	);
}

.input-btn {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#input-form input[type='submit'],
#input-form input[type='reset'],
#input-form #cancel {
	width: 8rem;
	color: black;
	font-size: 1.2rem;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	background: linear-gradient(
		to right bottom,
		var(--gold-4),
		var(--gold-1),
		var(--gold-2),
		var(--gold-3),
		var(--gold-2),
		var(--gold-1),
		var(--gold-4)
	);
}

#input-form #cancel {
	padding: 0.4rem 0 0.4rem 0;
	border: 0;
	border-radius: 3rem;
	margin: 0 0 1rem 1rem;
}

/* ********************************
          Scroll Bar
************************************/
.scrollbar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	background-color: #cccccc;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--gold-2);
	background-image: -webkit-linear-gradient(
		90deg,
		transparent,
		rgba(0, 0, 0, 0.4) 50%,
		transparent,
		transparent
	);
}

/* ********************************
          Media Query
**************************************/

@media (min-width: 320px) {
	header,
	main {
		width: 90%;
	}

	#filter {
		font-size: 1.1rem;
		padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	}

	.btn-new {
		font-size: 1.1rem;
		padding: 0.3rem 1rem 0.3rem 2rem;
	}

	#web-des {
		width: 95%;
		margin: 0 0 1rem 0.2rem;
	}

	#rank {
		width: 45%;
		font-size: 1rem;
		padding: 0.2rem 0.5rem 0.2rem 1rem;
	}
}

@media (min-width: 760px) {
	header,
	main {
		width: 60%;
	}

	#rank {
		width: 30%;
	}
}
